<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nbut.jerry.mapper.AdminSqlMapper">
    <select id="selectAll" resultType="Admin">
    select * from adminTable order by adminId desc
    </select>
    <select id="selectAdminById" parameterType="int" resultType="Admin">
    select * from adminTable where adminId=#{_parameter}
    </select>
    <select id="selectAdminByUserName" resultType="Admin">
        SELECT * FROM adminTable where adminUserName=#{_parameter}
    </select>
    <select id="selectAdminByUserNameForCheck" parameterType="Admin" resultType="int">
        SELECT COUNT(*) FROM adminTable where adminUserName=#{adminUsername} AND adminPassword=#{adminPassword}
    </select>
    <insert id="insertAdminById" parameterType="Admin">
    insert into adminTable(adminUsername,adminPassword,adminNickName,adminPhoneNumber)values(#{adminUsername},#{adminPassword},#{adminNickName},#{adminPhoneNumber})
    </insert>
    <update id="updateAdminById" parameterType="Admin">
    update adminTable set adminNickName=#{adminNickName}, adminPassword=#{adminPassword}, adminPhoneNumber=#{adminPhoneNumber} where adminId=#{adminId}
    </update>
    <update id="updateAdminByIdWithoutPassword" parameterType="Admin">
    update adminTable set adminNickName=#{adminNickName}, adminPhoneNumber=#{adminPhoneNumber} where adminId=#{adminId}
    </update>
    <delete id="deleteAdminById" parameterType="int">
    DELETE from adminTable where adminId=#{_parameter}
    </delete>
</mapper>